<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.followme.followme" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MyMusicActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserSettings.UsersSettingsActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SpeakerSettings.SpeakersSettingsActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SpeakerSettings.MessageNewSpeakerActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SpeakerSettings.NewSpeakerActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SpeakerSettings.SpeakerWifiConnectionActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SpeakerSettings.ModifySpeakerActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".UserSettings.BraceletSyncActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".UserSettings.ModifyUserActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".UserSettings.NewUserSettingName"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".DoorSettings.DoorsSettingsActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".DoorSettings.SensorChooseRoomActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".DoorSettings.SensorWaitSyncActivity"
            android:label="@string/app_name">
        </activity>
        <activity
        android:name=".RoomSettings.RoomSettingsActivity"
        android:label="@string/app_name">
        </activity>
        <activity
            android:name=".RoomSettings.NewRoomActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".RoomSettings.ModifyRoomActivity"
            android:label="@string/app_name">
        </activity>

    </application>

</manifest>
